* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    color: #000;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 60px;
}

.logo {
    font-size: 24px;
    font-weight: 500;
}

nav a {
    margin-left: 30px;
    text-decoration: none;
    color: black;
    font-size: 14px;
}

/* GALERÍA */
.gallery {
    position: relative; /* Esto es clave */
    width: 100%;
    height: 800px; /* o lo que necesites */
  
}

/* ITEMS */
.item { position: absolute; }

.item img { width: 100%; display: block; }
.item p { margin-top: 10px; font-size: 12px; color: #333; }

/* POSICIONES ESCRITORIO */
.item:nth-child(1) { top: 200px; left: 50px; width: 200px; height: 250px; }
.item:nth-child(2) { top: 100px; left: 900px; width: 200px; height: 250px; }
.item:nth-child(3) { top: 50px; left: 400px; width: 200px; height: 250px; }
.item:nth-child(4) { top: 350px; left: 1200px; width: 200px; height: 250px; }
.item:nth-child(5) { top: 300px; left: 650px; width: 200px; height: 250px; }
.item:nth-child(6) { top: 400px; left: 300px; width: 200px; height: 250px; }
.item:nth-child(7) { top: 0px; left: 1200px; width: 200px; height: 250px; }

/* RESPONSIVE MÓVIL */
@media screen and (max-width: 768px) {

    .gallery {
        height: 1500px; /* aumenta la altura del contenedor para que quepan todas */
    }

    .item:nth-child(1) {
        top: 100px;
        left: 20px;
        width: 150px;
        height: 180px;
    }

    .item:nth-child(2) {
        top: 800px;
        left: 20px;
        width: 150px;
        height: 180px;
    }

    .item:nth-child(3) {
        top: 50px;
        left: 200px;
        width: 150px;
        height: 180px;
    }

    .item:nth-child(4) {
        top: 750px;
        left: 250px;
        width: 150px;
        height: 180px;
    }

    .item:nth-child(5) {
        top: 600px;
        left: 150px;
        width: 150px;
        height: 180px;
    }

    .item:nth-child(6) {
        top: 300px;
        left: 150px;
        width: 150px;
        height: 180px;
    }

    .item:nth-child(7) {
        top: 450px;
        left: 10px;
        width: 100px;
        height: 130px;
    }
	 header {
        flex-direction: column; /* apila logo y nav verticalmente */
        align-items: center;
        padding: 20px 20px; /* menos padding que en escritorio */
    }

    .logo {
        font-size: 20px; /* más pequeño para móvil */
        margin-bottom: 10px; /* separación entre logo y nav */
    }

    nav {
        display: flex;
        flex-wrap: wrap; /* que los enlaces bajen de línea si no caben */
        justify-content: center;
    }

    nav a {
        margin: 5px 10px; /* menos margen entre enlaces */
        font-size: 16px; /* un poco más grande para tocar en móvil */
    }

}