* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    color: #000;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 60px;
}

.logo {
    font-size: 24px;
    font-weight: 500;
}

nav a {
    margin-left: 30px;
    text-decoration: none;
    color: black;
    font-size: 14px;
}

/* GALERÍA */
.gallery {
    position: relative;
    padding: 80px 60px;
}

/* ITEMS */
.item {
    position: relative;
    margin-bottom: 160px;
    max-width: 420px;
}

.item img {
    width: 100%;
    display: block;
}

.item p {
    margin-top: 10px;
    font-size: 12px;
    color: #333;
}

/* POSICIONES */
.item-left {
    margin-left: 0;
}

.item-right {
    margin-left: auto;
}

.item-center {
    margin-left: auto;
    margin-right: auto;
}

/* VARIANTES */
.item.small {
    max-width: 260px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    body {
        font-size: 16px;
        
    justify-content: space-between;
    align-items: center;
    padding: 40px 60px;
    }

    header img {
        height: 60px;
    }

    .section {
        flex-direction: column; /* las imágenes van encima del texto */
        padding: 20px;
    }

    .section img, .section .text {
        width: 100%; /* ocupan todo el ancho en móvil */
        padding: 10px 0;
    }
}